*{
    margin: 0;
    padding: 0;
    outline: 0;
}

/*-------------------*/

#login-area{
    margin-top: 100px;
}

.submit-area{
    margin: 0 auto;
    box-shadow: 5px 5px 10px grey;
    border-radius: 10px;
    font-size: 20px;
}
